.box {
  padding: 30px;
  margin: 1rem;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  width: 6.5rem;
  border-radius: 5px;
  cursor: pointer;
  height: 6.5rem;
  text-align: center;
  font-family: 'Stoke', serif;
  line-height: 2rem;
}

.box:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.x {
  color: rgb(169, 88, 249);
}

.o {
  color: rgb(16, 186, 78);
}
